body {
    font-family: poppins, sans-serif;
    background-color: #0e0c1a;
}
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0,0,0,0.6)),
    url("../images/italy-header.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 160px;
    text-align: center;
}
header h1, h2, h3 {
    color: #fafafa;
    letter-spacing: 6px;
    text-transform: uppercase;
}
header h1 {
    font-size: 60px;
    font-weight: bold;
}
.textEffect {
    animation: fade-in 1s infinite;
}
@keyframes fade-in {
    0%, 
    100% {
opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0,0,0,0.6)),
    url("../images/italy-footer.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fafafa;
}
footer ul {
    padding: 0;
}
footer li {
    list-style: none; 
    padding: 0;  
    margin: 0;     
}
footer a {
    color: #fafafa;
    opacity: 0.6;
}
footer p {
    opacity: 0.6;
}
section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 0;
}
main {
    background: #fafafa;
}
main h3 {
    color: #ada9a9;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    margin: 0;
}
main h4 {
    line-height: 1.5;
    font-size: 18px;
}
.img-responsive {
    max-width: 100%;
}
.grid {
    display: grid;
    grid-gap: 40px;
}
.grid-2-columns {
    grid-template-columns: 1fr 2fr;
}
.grid-2-columns-first-narrow {
    grid-template-columns: 1fr 2fr;
}
@media (max-width: 980px) {
    header {
        padding: 80px;
    }
    header h1 {
        font-size: 24px;
    }
    header h2, h3 {
        font-size: 16px;
    }
    footer {
        padding: 40px;
    }
    .grid {
        grid-gap: 10px;
        font-size: 12px;
        grid-template-columns: 1fr;
    }
    section {
        padding: 30px;
    }
    }