body {
    font-family: poppins, sans-serif;
}
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,0.5)),
    url("../images/italy-header.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px;
}
h1, h2, h3 {
    color: #dbdbdb;
    letter-spacing: 6px;
    text-transform: uppercase;
}
h1 {
    font-size: 70px;
    font-weight: bold;
}
.textEffect {
    animation: fade-in 1s infinite;
}
@keyframes fade-in {
    0%, 
    100% {
opacity: 1;
    }
    50% {
        opacity: 0;
    }
}